body{
    background-color: hsl(0, 0%, 100%);
    font-family: "Hanken Grotesk", sans-serif;
}

.white-card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: auto;
    width: 750px;
    height: 500px;
    overflow: hidden;

    position: absolute;
    top: 0; /*if we're to put a value like 10, the box would move 10 (idk the units) downward, to make space at the top*/
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    /* text-align: center;
    justify-content: center; */

    /* horizontal, vertical, blur, spread */
    box-shadow: 10px 20px 12px 5px hsl(221, 100%, 96%);
}

/* .column {
    float: left;
    width: 50%;
    padding-right: 40px;
} */

.results{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    height: 420px;
    width: 300px;
    border-radius: 20px;
    padding: 40px;

    justify-content: center;
    text-align: center;
}

.result-header{
    color:hsl(241, 100%, 89%);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 35px;
}

.score-circle{
    display: flex;
    flex-direction: column;
    margin: auto; /*auto to horizontally center the element within its container */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    text-align: center;
    justify-content: center;
}

.score{
    color:hsl(0, 0%, 100%);
    font-size: 70px;
    font-weight: 800;
}

.total-score{
    color:hsl(242, 100%, 84%);
    font-size: 18px;
}

.great{
    padding-top: 20px;
    padding-bottom: 16px;
    color:hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 700;
}

.great-desc{
    color:hsl(241, 100%, 89%);
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
} 

.summary{
    padding: 40px;
    width: 300px;
}

.summary-header{
    color:hsl(224, 30%, 27%);
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}

.reaction-box{
    background-color: hsla(0, 100%, 67%, 0.1);
}

.boxes{
    height: 40px;
    border-radius: 10px;
    width: 260px;
    align-items:center;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    /* margin-bottom: 20px; */
}

.reaction-icon{ /* adding img to this didnt work */
    /* padding-left: 30px; */
    width: 22px;
    height: 22px;
}

.reaction-text{
    color:hsl(0, 100%, 67%);
    font-size: 20px;
    font-weight: 700;
}

.elements-start{
    justify-content: start;
    display: flex;
    gap: 10px;
    /* float:left; */
}

.elements-end{
    justify-content: end;
    display: flex;
    gap: 10px;
    /* float:right; */
}

.stat{
    color:hsl(224, 30%, 27%);
    font-size: 20px;
    font-weight: 700;
}

.stat-total{
    color:hsla(224, 30%, 27%, 0.5);
    font-size: 20px;
    font-weight: 700;
}